<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>melhorpreco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94D4717C1D04A90A005D6E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D471901D04A90A005D6E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D4719B1D04A90A005D6E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
